{% extends 'base.html' %}

{% load widget_tweaks %}

{% include "includes/form_snippet.html"%}

{% block title %}Нове замовлення - {{ block.super }}{% endblock %}
{% block content %}

{% load static %}

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/dynamic-formset.js' %}"></script>

	<ol class="breadcrumb my-4">
		<li class="breadcrumb-item"><a href="{% url 'materialorder' %}">Замовлення матеріалів</a></li>
		<li class="breadcrumb-item active">Нове замовлення матеріалу</li>
	</ol>


<!-- № рахунку {{ input_material_form.invoice }}  -->

<div class="container">
    <form method="post" action="" autocomplete="off" class="materialorder">{% csrf_token %}{{ formset.management_form }}
      <div class="selector-to-clone">
      {% for input_material_form in formset %}
       <div class="group invoice">
          {{ input_material_form.invoice }}
          {{ input_material_form.invoice.errors }}
          <span class="bar"></span>
          <label>№ рахунку</label>
       </div>
       <div class="group provider">      
          {{ input_material_form.provider }}
          {{ input_material_form.provider.errors }}
          <span class="bar"></span>
          <label>Постачальник</label>
       </div>

       <div class="button-group add-provider-button">
           <a class="button" role="button" data-toggle="modal" data-target="#modal-add-provider">Додати постачальника</a>
       </div>
        <div class="row row-materialorder">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-0-material" role="tab" aria-controls="nav-material" aria-selected="true">Матеріал</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-0-paint" role="tab" aria-controls="nav-paint" aria-selected="false">Чорнила</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-0-other" role="tab" aria-controls="nav-other" aria-selected="false">Інше</a>
                </div>
            </nav>
            <p>
              <span id="del_current_order"><i class="fas fa-times hidden" title="Видалити поточний бланк"></i></span>
            <div class="tab-content" id="nav-tabContent-materalorder">
                <div class="tab-pane fade show active" id="nav-0-material" role="tabpanel" aria-labelledby="nav-home-tab">
                      <div class="group material">
                        {{ input_material_form.material }}
                        {{ input_material_form.material.errors }}
                        <span class="bar"></span>
                        <label>Матеріал</label>
                      </div>
                      <div class="button-material">
                         <a class="button" role="button" data-toggle="modal" data-target="#modal-add-material">Додати матеріал</a>
                      </div>
                      <div class="group material-width">
                        {{ input_material_form.material_width }}
                        {{ input_material_form.material_width.errors }}
                        <span class="bar"></span>
                        <label>Ширина</label>
                      </div>
                    <div class="group material-height">
                      {{ input_material_form.material_height }}
                      {{ input_material_form.material_height.errors }}
                      <span class="bar"></span>
                      <label>Довжина</label>
                    </div>
                    <div class="group number-of-material">
                      {{ input_material_form.number_of_material }}
                      {{ input_material_form.number_of_material.errors }}
                      <span class="bar"></span>
                      <label>Кількість</label>
                    </div>
                    <div class="group m-kv-of-material">
                      {{ input_material_form.m_kv_of_material }}
                      {{ input_material_form.m_kv_of_material.errors }}
                      <span class="bar"></span>
                      <label>м<sup>2</sup></label>
                    </div>
                    <div class="group total-of-material">
                      {{ input_material_form.total_of_material }}
                      {{ input_material_form.total_of_material.errors }}
                      <span class="bar"></span>
                      <label>Сума</label>
                    </div>
                    <span class="valuta">грн.</span>
                </div>
                <div class="tab-pane fade" id="nav-0-paint" role="tabpanel" aria-labelledby="nav-profile-tab">
                     <div class="group paint">
                      {{ input_material_form.paint }}
                      {{ input_material_form.paint.errors }}
                      <span class="bar"></span>
                      <label>Фарба</label>
                    </div>
                    <div class="button-paint">
                       <a class="button" role="button" data-toggle="modal" data-target="#modal-add-paint">Додати фарбу</a>
                    </div>
                    <div class="group litr_of_paint">
                      {{ input_material_form.litr_of_paint }}
                      {{ input_material_form.litr_of_paint.errors }}
                      <span class="bar"></span>
                      <label>Літри</label>
                    </div>
                    <div class="group number_of_litres">
                      {{ input_material_form.number_of_litres }}
                      {{ input_material_form.number_of_litres.errors }}
                      <span class="bar"></span>
                      <label>Кількість</label>
                    </div>
                    <div class="group all_litres">
                      {{ input_material_form.all_litres }}
                      {{ input_material_form.all_litres.errors }}
                      <span class="bar"></span>
                      <label>Всього, л.</label>
                    </div>
                    <div class="group total_of_paint">
                      {{ input_material_form.total_of_paint }}
                      {{ input_material_form.total_of_paint.errors }}
                      <span class="bar"></span>
                      <label>Сума</label>
                    </div>
                    <span class="valuta">грн.</span>
                </div>
                <div class="tab-pane fade" id="nav-0-other" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="group other">
                      {{ input_material_form.other }}
                      {{ input_material_form.other.errors }}
                      <span class="bar"></span>
                      <label>Інші товари</label>
                    </div>
                    <div class="button-other">
                       <a class="button" role="button" data-toggle="modal" data-target="#modal-add-other">Додати матеріал (інше)</a>
                    </div>
                    <div class="group packing_of_other">
                      {{ input_material_form.packing_of_other }}
                      {{ input_material_form.packing_of_other.errors }}
                      <span class="bar"></span>
                      <label>Упаковка, шт.</label>
                    </div>
                    <div class="group number_of_other">
                      {{ input_material_form.number_of_other }}
                      {{ input_material_form.number_of_other.errors }}
                      <span class="bar"></span>
                      <label>Кількість</label>
                    </div>
                    <div class="group all_of_other">
                      {{ input_material_form.all_of_other }}
                      {{ input_material_form.all_of_other.errors }}
                      <span class="bar"></span>
                      <label>Всього, шт.</label>
                    </div>
                    <div class="group total_of_other">
                      {{ input_material_form.total_of_other }}
                      {{ input_material_form.total_of_other.errors }}
                      <span class="bar"></span>
                      <label>Сума</label>
                    </div>
                    <span class="valuta">грн.</span>            
                </div>
            </div>
        </div>
        <div class="row">
            <div class="material-description">
              {{ input_material_form.description }}
              {{ input_material_form.description.errors }}
            </div>
          </div>  
            {% endfor %}
      </div>
        <div class="row">
            <div class="materialorder-add-button"><button class="button add_more_materialorder" type="button">Додати ще <i class="fas fa-chevron-down"></i></button></div>
            <div class="materialorder-save-button"><button class="button" type="submit">Зберегти <i class="far fa-save"></i></button></div>
        </div>     
    </form>
</div>

<!-- ModalWindows -->
<!-- Модальне вікно для додавання постачальника -->
    <div class="modal fade" id="modal-add-provider" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Додати постачальника</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div> 
                <div class="modal-body">
                    <h6>Введіть назву нового постачальника:</h6>
                    <p>
                    <form action="" id="new_provider_form" role="form" method="post" autocomplete="off">{% csrf_token %}
                    <div class="form-control">
                      {{ provider_form.name_of_provider }}
                      {{ provider_form.name_of_provider.errors }}
                    </div>
                    <p></p>Опис (якщо потрібно):
                    <div class="form-control">
                      {{ provider_form.description }}
                      {{ provider_form.description.errors }}
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                    <button type="submit" class="btn btn-primary">Зберегти</button>
                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальне вікно для додавання нового матеріалу -->
    <div class="modal fade" id="modal-add-material" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Додати матеріал</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h6>Введіть назву нового матеріалу:</h6>
                    <p>
                    <form action="" id="new_provider_form" role="form" method="post" autocomplete="off">{% csrf_token %}
                    <div class="form-control">
                      {{ material_in_form.name_of_material }}
                      {{ material_in_form.name_of_material.errors }}
                    </div>
                    <p></p>Опис (якщо потрібно):
                    <div class="form-control">
                      {{ material_in_form.description }}
                      {{ material_in_form.description.errors }}
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                    <button type="submit" class="btn btn-primary">Зберегти</button>
                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальне вікно для додавання нової фарби -->
    <div class="modal fade" id="modal-add-paint" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Додати фарбу</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h6>Введіть назву нової фарби:</h6>
                    <p>
                    <form action="" id="new_provider_form" role="form" method="post" autocomplete="off">{% csrf_token %}
                    <div class="form-control">
                      {{ paint_in_form.name_of_paint }}
                      {{ paint_in_form.name_of_paint.errors }}
                    </div>
                    <p></p>Опис (якщо потрібно):
                    <div class="form-control">
                      {{ paint_in_form.description }}
                      {{ paint_in_form.description.errors }}
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                    <button type="submit" class="btn btn-primary">Зберегти</button>
                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальне вікно для додавання нової переферії(інше) -->
    <div class="modal fade" id="modal-add-other" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Додати матеріал (інше)</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h6>Інше(назва):</h6>
                    <p>
                    <form action="" id="new_provider_form" role="form" method="post" autocomplete="off">{% csrf_token %}
                    <div class="form-control">
                      {{ other_in_form.name_of_other }}
                      {{ other_in_form.name_of_other.errors }}
                    </div>
                    <p></p>Опис (якщо потрібно):
                    <div class="form-control">
                      {{ other_in_form.description }}
                      {{ other_in_form.description.errors }}
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                    <button type="submit" class="btn btn-primary">Зберегти</button>
                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>

    $('button.add_more_materialorder').click(function() {
        cloneMaterialorder('.selector-to-clone:last', 'service');
    });

    </script>

{% endblock %}