{% extends 'base.html' %}{% load static%}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Змовлення друку</li>
{% endblock %}

{% load widget_tweaks %}
{% block content %}

<div class="container transform search-box">
  <form method="get" autocomplete="off">
    <div class="well">
      <h6>Фільтрування даних за заданими параметрами:</h6>
      <div class="row">
        <div class="form-group col-sm-2 col-md-2">
          <!-- {{ all_orders.form.invoice.label_tag }} -->
          {% render_field all_orders.form.name_of_camp class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-4">
           <!-- {{ all_orders.form.provider__name_of_provider.label_tag }} -->
          {% render_field all_orders.form.image_url class="form-control" %}
        </div>
        <div class="form-group col-sm-2 col-md-2">
          <!-- {{ all_orders.form.material__name_of_material.label_tag }} -->
          {% render_field all_orders.form.material class="form-control" %}
        </div>
        <div class="form-group col-sm-1 col-md-1">
          <!-- {{ all_orders.form.material__name_of_material.label_tag }} -->
          <span>Ш:</span>{% render_field all_orders.form.print_width class="form-control" %}
        </div>
        <div class="form-group col-sm-1 col-md-1">
          <!-- {{ all_orders.form.material__name_of_material.label_tag }} -->
          <span>Д:</span>{% render_field all_orders.form.print_height class="form-control" %}
        </div>
        <div class="form-group col-sm-2 col-md-2">
          <!-- {{ all_orders.form.paint__name_of_paint.label_tag }} -->
          {% render_field all_orders.form.manager class="form-control" %}
        </div>
        <!-- <div class="form-group col-sm-3 col-md-2">
          {{ all_orders.form.other__name_of_other.label_tag }}
          {% render_field all_orders.form.other__name_of_other class="form-control" %}
        </div> -->
         <div class="form-group col-sm-3 col-md-2" id="status_by_group">
          <!-- {{ all_orders.form.paid.label_tag }} -->
          {% render_field all_orders.form.status class="form-control" %}
        </div>
        <div class="form-inline col-sm-6 col-md-4">
          <!-- {{ all_orders.form.created.label_tag }} -->
          Період:&nbsp;{% render_field all_orders.form.created class="form-control" %}
        </div>
        <div class="form-group col-sm-3 col-md-2" id="updated_by_group" style="width: 100%">
          <!-- {{ all_orders.form.paid.label_tag }} -->
          {% render_field all_orders.form.updated_by class="form-control" %}
        </div>
        
        <div class="btn-group" role="group" aria-label="all_orders group">
          <button type="submit" class="btn btn-primary search-material">
          <span class="glyphicon glyphicon-search"></span><i class="fas fa-search"></i> Шукати
          </button>
          <button type="button" class="btn btn-warning clean-material">
          <span class="glyphicon glyphicon-search"></span><i class="fas fa-eraser"></i> Очистити
          </button>
          <button type="button" class="btn btn-danger close-material">
          <a href="{% url 'home' %}"><span class="glyphicon glyphicon-search"></span><i class="fas fa-times"></i> Закрити</a>
          </button>
        </div>
        
      </div>
      
    </div>
  </form>
</div>

<div class="row">
 
    <!-- <div class="col-lg-4">
        <input type="search" id="search" value="" class="form-control" placeholder="Пошук...">
    </div> -->
    <iframe id="txtArea1" style="display:none"></iframe>
    <div class="btn-group basic-btn-group" role="group" aria-label="Basic example">
      <button type="button" id="search-toggle" class="btn btn-warning"><i class="fas fa-filter"></i> Фільтр</button>
      {% if perms.printOrder.change_PrintOrder %}
      <a href="{% url 'new_order' %}" class="btn btn-info"><i class="fas fa-file"></i> Нове замовлення</a>
      {% endif %}
      {% if perms.printOrder.change_CampaignName %}
      <a href="{% url 'new_campaign' %}" class="btn btn-success"><i class="fas fa-file-alt"></i> Новий сюжет</a>
      {% endif %}
      <button type="button" onclick="tableToExcel('testTable', 'W3C Example Table')" class="btn btn-default xls"><i class="fas fa-file-excel"></i> Експортувати дані в xls</button>
      <!-- <button id="btnExport" onclick="fnExcelReport();" class="btn btn-warning"><i class="fas fa-file-excel"></i> Експортувати дані в xls</button> -->
      <!-- <button id="btnExport" class="btn btn-warning"><i class="fas fa-file-excel"></i> Експортувати дані в xls</button> -->
      <!-- <div>
        <button id="btnExport">Export to excel</button>
      </div> -->
    </div>
  
</div>

<div id="filterBox" style="display: none">
  <div id="filterBoxHeader">Фільтр</div>
  <p></p>
</div>

<table class="table table-hover table-responsive table-striped table-sm" id="main-table">
  <thead class="thead-dark">
    <tr">
      {% if perms.printOrder.change_PrintOrder %}
      <th class="t1">Ред</th>
      {% endif %}
      <th class="t2">Дата/Час</th>
      <th class="t3">Сюжет</th>
      <th class="t4">Файл</th>
      <th class="t5">Пріорітет</th>
      <th class="t6">Розмір</th>
      <th class="t7">Шт.</th>
      <th class="t9">Матеріал</th>
      <th class="t10">Менеджер</th>
      <th class="t11">Статус</th>
      <th class="t12">Виконав</th>
      <th class="t13">Час</th>
      <th class="t14">Примітка</th>
      <th class="t15h">Додав</th>
    </tr>
  </thead>
  <tbody>
    <div id="searchable-container">
    {% for board in orders %}
      <tr>
        {% if perms.printOrder.change_PrintOrder %}
        <td class="t1"><a href="{% url 'order_edit' pk=board.pk %}?next={{ request.get_full_path|urlencode }}"><i class="far fa-edit"></i></a></td>
        {% endif %}
        <td class="t2">{{ board.created|date:"d.m" }}/{{ board.created|date:"H:i" }}<br></td>
        <td class="t3"><b>{{ board.name_of_camp.name_of_new_camp }} <br></b></td>
        <td class="t4"><a href="{{ board.image_url }}" target="self">{{ board.image_url }}</a></td>      
        <td class="t5">{{ board.prioritet }} <br></td>
        <td class="t6">{{ board.print_width }} x {{ board.print_height }} <br></td>
        <td class="t7">{{ board.number }} <br></td>
        <td class="t9">{{ board.material.name_of_material }} <br></td>
        <td class="t10">{{ board.manager.name_of_manager }} <br></td>
        <td class="t11"><a href="{% url 'status_edit' pk=board.pk %}"><i class="fas fa-pencil-alt"></i></a> {{ board.status.status }}<br></td>
        <td class="t12">{{ board.updated_by }} <br></td>
        <td class="t13">{{ board.updated|date:"d.m" }}/{{ board.updated|date:"H:i" }}<br></td>
        <td class="t14"><a href="{% url 'description_edit' pk=board.pk %}?next={{ request.get_full_path|urlencode }}"><i class="far fa-clipboard"></i></a>{{ board.description }}<br></td>
        <td class="t15">{{ board.created_by }}<br></td>
      </tr>
    {% endfor %}
  </tbody>
</div>

</table>

{% block pagination %}
<div class="paginator">
  {% if orders.has_other_pages %}
    {% with request.get_full_path as querystring %}
        <nav aria-label="Topics pagination" class="mb-4">
          <ul class="pagination pagination-sm justify-content-center">
            <!-- Previous page section -->
            {% if orders.has_previous %}
                {% if 'created_min' in querystring %}
                    {% if 'page' in querystring %}
                        <li class="page-item {% if orders.number == page %}active{% endif %}">
                            <a class="page-link" href="{{ querystring|slice:":-7" }}&page={{ orders.previous_page_number }}">Попередня</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled {% if orders.number == page %}active{% endif %}">
                            <a class="page-link" href="{{ querystring }}&page={{ orders.previous_page_number }}">Попередня</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="page-item {% if orders.number == page %}active{% endif %}">
                        <a class="page-link" href="?page={{ orders.previous_page_number }}">Попередня</a>
                    </li>
                {% endif %}
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">Попередня</span>
              </li>
            {% endif %}

            <!-- All orders section -->
            {% for page in orders.paginator.page_range %}
                {% if 'created_min' in querystring %}
                    {% if 'page' in querystring %}
                        <li class="page-item {% if orders.number == page %}active{% endif %}">
                            <a class="page-link" href="{{ querystring|slice:":-7" }}&page={{ page }}">{{ page }}</a>
                        </li>
                    {% else %}
                        <li class="page-item {% if orders.number == page %}active{% endif %}">
                            <a class="page-link" href="{{ querystring }}&page={{ page }}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="page-item {% if orders.number == page %}active{% endif %}">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            <!-- Next page section -->
            {% if orders.has_next %}
                {% if 'created_min' in querystring %}
                    {% if 'page' in querystring %}
                        <li class="page-item {% if orders.number == page %}active{% endif %}">
                            <a class="page-link" href="{{ querystring|slice:":-7" }}&page={{ orders.next_page_number }}">Наступна</a>
                        </li>
                    {% else %}
                        <li class="page-item {% if orders.number == page %}active{% endif %}">
                            <a class="page-link" href="{{ querystring }}&page={{ orders.next_page_number }}">Наступна</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="page-item {% if orders.number == page %}active{% endif %}">
                        <a class="page-link" href="?page={{ orders.next_page_number }}">Наступна</a>
                    </li>
                {% endif %}
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">Наступна</span>
              </li>
            {% endif %}

        </ul>
      </nav>
    {% endwith %}
  {% endif %}
</div>

{% endblock %}

<script>
  $('#id_created_0').datepicker({
      uiLibrary: 'bootstrap4',
      locale: 'ua-ua',
      format: 'yyyy-mm-dd'
  });
  $('#id_created_1').datepicker({
      uiLibrary: 'bootstrap4',
      locale: 'ua-ua',
      format: 'yyyy-mm-dd'
  });

//Make the DIV element draggagle:
dragElement(document.getElementById("filterBox"));

function dragElement(elmnt) {
  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
  if (document.getElementById(elmnt.id + "Header")) {
    /* if present, the header is where you move the DIV from:*/
    document.getElementById(elmnt.id + "Header").onmousedown = dragMouseDown;
  } else {
    /* otherwise, move the DIV from anywhere inside the DIV:*/
    elmnt.onmousedown = dragMouseDown;
  }

  function dragMouseDown(e) {
    e = e || window.event;
    e.preventDefault();
    // get the mouse cursor position at startup:
    pos3 = e.clientX;
    pos4 = e.clientY;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    e.preventDefault();
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement() {
    /* stop moving when mouse button is released:*/
    document.onmouseup = null;
    document.onmousemove = null;
  }
}

</script>




<!-- <script type="text/javascript">
  function refreshPage () {
      var page_y = document.getElementsByTagName("body")[0].scrollTop;
      window.location.href = window.location.href.split('?')[0] + '?page_y=' + page_y;
  }
  window.onload = function () {
      setTimeout(refreshPage, 35000);
      if ( window.location.href.indexOf('page_y') != -1 ) {
          var match = window.location.href.split('?')[1].split("&")[0].split("=");
          document.getElementsByTagName("body")[0].scrollTop = match[1];
      }
  }
  // alert("ok")
</script> -->



{% endblock %}
