{% extends 'base_accounts.html' %}

{% block title %}Вхід в систему - {{ block.super }}{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Вхід в систему</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Вхід</button>
          </form>
        </div>
        <div class="card-footer text-muted text-center">
          Ви вперше в нас? <a href="{% url 'signup' %}">Зареєструйтеся</a>
        </div>
      </div>
      <div class="text-center py-2">
       
      </div>
    </div>
  </div>
{% endblock %}