{% extends 'base.html' %}{% load static%}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Змовлення друку</li>
{% endblock %}

{% load widget_tweaks %}
{% block content %}
<div class="container-fluid">
<div class="row">
  
    <div class="col-lg-4">
        <input type="search" id="search" value="" class="form-control" placeholder="Пошук...">
    </div>
    <iframe id="txtArea1" style="display:none"></iframe>
    <div class="btn-group" role="group" aria-label="Basic example">
      {% if perms.printOrder.change_PrintOrder %}
      <a href="{% url 'materialorder_new' %}" class="btn btn-info"><i class="fas fa-file"></i> Новий рахунок</a>
      {% endif %}
      <!-- {% if perms.printOrder.change_CampaignName %}
      <a href="{% url 'new_campaign' %}" class="btn btn-success"><i class="fas fa-file-alt"></i> Новий сюжет</a>
      {% endif %} -->
      <button type="button" onclick="tableToExcel('testTable', 'W3C Example Table')" class="btn btn-default xls"><i class="fas fa-file-excel"></i> Експортувати дані в xls</button>
      <!-- <button id="btnExport" onclick="fnExcelReport();" class="btn btn-warning"><i class="fas fa-file-excel"></i> Експортувати дані в xls</button> -->
      <!-- <button id="btnExport" class="btn btn-warning"><i class="fas fa-file-excel"></i> Експортувати дані в xls</button> -->
      <!-- <div>
        <button id="btnExport">Export to excel</button>
      </div> -->
    </div>
</div>
</div>
<section class="materialorder">
  <div class="container-fluid">
<table class="table table-responsive table-striped table-sm" id="materialorder">
  <thead class="thead-dark">
    <tr">
      {% if perms.printOrder.change_PrintOrder %}
      <th>Ред</th>
      {% endif %}
      <th>Дата</th>
      <th>№ рахунку</th>
      <th>Постачальник</th>
      <th>Матеріал</th>
      <th>Кількість</th>
      <th>Ціна, грн.</th>
      <th>Примітка</th>
      <th>Статус</th>
      <th>Додав</th>
      <th>Редагував</th>
    </tr>
  </thead>
  <!-- <tbody>
    <div id="searchable-container">
    {% for mat in materials %}
      <tr>
        {% if perms.printOrder.change_PrintOrder %}
        <td class="m1"><a href="{% url 'materialorder_edit' pk=mat.pk %}"><i class="far fa-edit"></i></a></td>
        {% endif %}
        <td class="m2">{{ mat.created|date:"d.m" }}<br></td>
        <td class="m3">{{ mat.invoice }} <br></b></td>
        <td class="m4">{{ mat.provider.name_of_provider }}</a></td>      
        <td class="m5">{{ mat.material.name_of_material }}<br>{{ mat.paint.name_of_paint }}<br>{{ mat.other.name_of_other }}</td>
        <td class="m6"><span class="m_kv_of_material">{{ mat.m_kv_of_material }}&nbsp;м<sup>2</sup></span><br><span class="all_litres">{{ mat.all_litres }}&nbsp;л.</span><br><span class="all_of_other">{{ mat.all_of_other }}&nbsp;шт.</span></td>
        <td class="m7"><span class="total_of_material">{{ mat.total_of_material }}&nbsp;грн.</span><br><span class="total_of_paint">{{ mat.total_of_paint }}&nbsp;грн.</span><br><span class="total_of_other">{{ mat.total_of_other }}&nbsp;грн.</span></td>
        <td class="m8">{{ mat.description }}</td>
        <td class="m9">{{ mat.paid }}</td>
        <td class="m10">{{ mat.created_by }}</td>
        <td class="m11">{{ mat.updated_by }}</td>
      </tr>
    {% endfor %}
  </tbody> -->
  <tbody>
    <div id="searchable-container">
    {% for mat in materials %}
      <tr>
        {% if perms.printOrder.change_PrintOrder %}
        <td rowspan="3" class="m1"><a href="{% url 'materialorder_edit' pk=mat.pk %}"><i class="far fa-edit"></i></a></td>
        {% endif %}
        <td rowspan="3" class="m2">{{ mat.created|date:"d.m"}}/{{ mat.created|date:"H:i" }}<br></td>
        <td rowspan="3" class="m3">{{ mat.invoice }} <br></td>
        <td rowspan="3" class="m4">{{ mat.provider.name_of_provider }}</td>
        <td class="m5">{{ mat.material.name_of_material }}</td>
        <td class="m6"><span class="m_kv_of_material">{{ mat.m_kv_of_material }}&nbsp;м<sup>2</sup></span></td>
        <td class="m7"><span class="total_of_material">{{ mat.total_of_material }}&nbsp;грн.</span></td>
        <td rowspan="3" class="m8">{{ mat.description }}</td>
        <td rowspan="3" class="m9"><a href="{% url 'paid_status' pk=mat.pk %}"><i class="far fa-edit"></i></a>&nbsp;{{ mat.paid }}</td>
        <td rowspan="3" class="m10">{{ mat.created_by }}</td>
        <td rowspan="3" class="m11">{{ mat.updated_by }}</td>
    </tr>
    <tr>
        <td class="m5">{{ mat.paint.name_of_paint }}</td>
        <td class="m6"><span class="all_litres">{{ mat.all_litres }}&nbsp;л.</span></td>
        <td class="m7"><span class="total_of_paint">{{ mat.total_of_paint }}&nbsp;грн.</span></td>
    </tr>
    <tr>
        <td class="m5">{{ mat.other.name_of_other }}</td>
        <td class="m6"><span class="all_of_other">{{ mat.all_of_other }}&nbsp;шт.</span></td>
        <td class="m7"><span class="total_of_other">{{ mat.total_of_other }}&nbsp;грн.</span></td>
    {% endfor %}
  </tbody>
</div>

</table>
</div>
</section>

{% endblock %}