{% extends 'base.html' %}

{% load widget_tweaks %}

{% include "includes/form_snippet.html"%}

{% block title %}Нове замовлення - {{ block.super }}{% endblock %}
{% block content %}

{% load static %}

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/dynamic-formset.js' %}"></script>

	<ol class="breadcrumb my-4">
		<li class="breadcrumb-item"><a href="{% url 'materialorder' %}">Замовлення матеріалів</a></li>
		<li class="breadcrumb-item active">Нове замовлення матеріалу</li>
	</ol>


<!-- № рахунку {{ edit_material_order_form.invoice }}  -->

<div class="container">
    <form method="post" action="" autocomplete="off" class="materialorder">{% csrf_token %}
       <div class="group paid">
          <div class="invoice"><h5><span>Рахунок №</span><b><span>{{ paid_status.invoice }}</span></b></h5></div>
          {{ form_ps.paid }}
          {{ form_ps.paid.errors }}
          <span class="bar"></span>
       </div>
        <div class="row">
            <div class="save-button materialorder-button"><button type="submit" class="btn btn-success">Зберегти</button></div>
        </div>     
    </form>
</div>

{% endblock %}

